
body {
    background-image: url('img_girl.jpg');
    text-wrap: wrap ;
    background-color:rgb(139, 139, 139);
    font-family: Arial;
    margin: auto;
}
header{
    margin: 2%;
}

h3 {font-size: 30px ; color: rgb(0, 0, 0);}

h2 {color: black;}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px ;
    gap: 10px ;
    background-color: floralwhite;
   justify-content: space-between;
}

.card {
    display: flex;
    position: relative;
    width: 375px;
    height: 370px;
    overflow: hidden;
    border-radius: 10px;
    margin: 1%;
    flex-wrap: wrap;
    
}

.card img {
    width: auto;
    height: auto;
    object-fit: cover;
    
}

.text {
    position: absolute;
    top: 35px;
    left: 25px;
    right: 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.text h2 {
    margin: 0 0 8px;
}

.text p {
    font-size: 14px;
    font-weight: bold;
}

.number {
    position: absolute;
    bottom: 30px;
    right: 45px;
    background: black;
    color: white;
    border-radius: 50%;
    padding: 12px;
    font-weight: bold;
}